{% extends "base.html" %}
{% block content %}
<div class="row p-4">
    <div class="col-8">
        <ul class="nav nav-tabs" id="inventoryTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="warehouse-tab" data-bs-toggle="tab" data-bs-target="#warehouse" type="button" role="tab" aria-controls="warehouse" aria-selected="false">Deposito</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="addProduct-tab" data-bs-toggle="tab" data-bs-target="#addProduct" type="button" role="tab" aria-controls="addProduct" aria-selected="false">Agregar Producto</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="categories-tab" data-bs-toggle="tab" data-bs-target="#categories" type="button" role="tab" aria-controls="categories" aria-selected="false">Categorias</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="providers-tab" data-bs-toggle="tab" data-bs-target="#providers" type="button" role="tab" aria-controls="providers" aria-selected="false">Provedores</button>
            </li>
        </ul>
        <div class="tab-content" id="inventoryTabsContent">
            <div class="tab-pane fade show active p-4" id="warehouse" role="tabpanel" aria-labelledby="warehouse-tab">
                <div class="d-flex justify-content-between">
                    <h4>Inventario</h4>
                    <!-- Add Product Button -->
                    <a href="#" class="btn btn-primary mb-3 offset-1" onclick="event.preventDefault(); document.getElementById('addProduct-tab').click();"> Agregar producto</a>    
                </div>
                <div>
                    <!-- Product List -->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Categoria</th>
                                <th>Precio</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                            <tr>
                                <td>{{ product.name }}</td>
                                <td>{{ product.category.name }}</td>
                                <td>{{ product.price }}</td>
                                <td>
                                    <a href="{% url 'store:edit_product' product.id %}" class="btn btn-sm btn-info"><i class="fa-regular fa-pen-to-square"></i></a>
                                    <a href="{% url 'store:delete_product' product.id %}" class="btn btn-sm btn-danger" onclick="return confirm('Confirme para eliminar')"><i class="fa-regular fa-trash-can"></i></a>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5">No hay productos.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade p-4" id="addProduct" role="tabpanel" aria-labelledby="addProduct-tab">
                <div>
                    {% include 'store/add_product.html' with form=form %}
                </div>      
            </div>
            <div class="tab-pane fade p-4" id="categories" role="tabpanel" aria-labelledby="categories-tab">
                <!-- Categories -->
                <div>
                    <div class="d-flex justify-content-between">
                        <h3>Categorias</h3>
                        <button id="show-add-category" class="btn btn-primary mb-3 offset-1">Crear categoria</button>
                        <div id="add-category" style="display: none;">
                            <form class="d-flex justify-content-between" method="POST" action="{% if category %}{% url 'store:edit_category' category.id %}{% else %}{% url 'store:add_category' %}{% endif %}">
                                {% csrf_token %}
                                {{ catform.as_p }}
                                <button type="submit" class="btn btn-primary mb-3 offset-1">
                                    <i class="fa-solid fa-check"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <!-- Category List -->
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Categoria</th>
                                    <th>Productos</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for category in categories %}
                                <tr>
                                    <td>{{ category.name }}</td>
                                    <td>{{ category.products.count }}</td>
                                    <td>
                                        <a href="#" class="btn btn-sm"><i class="fa-regular fa-pen-to-square"></i></a>
                                        <a href="{% url 'store:delete_category' category.id %}" class="btn btn-sm btn-danger" onclick="return confirm('Confirme para eliminar {{ category.name }}')"><i class="fa-regular fa-trash-can"></i></a>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="5">No hay categorias.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>  
            </div>
            <div class="tab-pane fade" id="providers" role="tabpanel" aria-labelledby="providers-tab">
                <div class="ticket border p-3">
                    <!-- Providers -->
                    <h3>Proveedores</h3>
                    <ul>
                        {% for provider in providers %}
                        <li>{{ provider.name }}</li>
                        {% empty %}
                        <li>No tienes ningun proveedor.</li>
                        {% endfor %}
                    </ul>
                </div>      
            </div>
        </div>
    </div>
    <div class="col-4 p-4">
        <div class="ticket border p-3 loto">
            <p>Speakers</p>
        </div>
    </div>
</div>
{% endblock %}