{% extends "base.html" %}

{% block content %}
<style>
    #logout {
        margin-top: 50px;
        color: #f5f5f5;
    }
</style>
<div id="logout" class="col-10 offset-1 mt-4">
  <h2>Cerrar Sesión</h2>
  <p>¿Estás seguro que deseas cerrar sesión?</p>
  
  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    <button type="submit" class="form-button">Sí, cerrar sesión</button>
    <a href="{% url 'home' %}" class="form-button">Cancelar</a>
  </form>
</div>
{% endblock %}
