/* General ---------------------------------------*/
:root {
    --main-bg-color: rgb(81, 95, 110);
    --main-text-color: #f2f1f1;
    --highlight-color: rgba(211, 179, 34, 0.777);
    --dropdown-bg: #fff;
}

body {
    min-height: 100%;
    color: var(--main-text-color);
    font-family: "PT Sans", sans-serif; 
    background-color: #f2f1f1;
}

.content  {
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
}
  
.d-none {
    display: none;
}

.mundo {
    background-image: url(/media/site/mundo.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
    overflow: hidden;
}

.loto {
    background-image: url(/media/site/fondo-loto.png);
    background-color: #33333322;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: 45%;
    background-position-y: 150%;
    background-position-x: 110%;
}


/* Header ---------------------------------------*/
#topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 105px;
    background-color: var(--main-bg-color);
    border: 5px solid rgba(102, 102, 102, 0.3);
    color: var(--main-text-color);
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.logo {
    padding: 15px;
    color: var(--main-text-color);
}

#menu-icon {
    display: flex;
    justify-content: flex-end;
    color: var(--main-text-color);
    font-size: 1.2em;
    width: 95%;
}

#menu-icon:hover {
    color: var(--highlight-color);
}

#menu-icon.hide {
    color: var(--main-bg-color);
}
  
.user-options {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
}
  
.user-options ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
}
  
.user-options li {
    list-style-type: none;
    color: var(--main-text-color);
    margin: 0 15px; /* Add some margin between icons */
}
  
.user-options a {
    color: var(--main-text-color);
    display: inline-block;
}
  
.user-options a:hover {
    color: var(--highlight-color);
}

/* Main Navigation (iPhone bar) -----------------*/

#main-nav-container {
    position: absolute;
    bottom: auto;
    left: 50%;
    display: flex;
    justify-content: center;
    width: fit-content;
    height: 6px;
    z-index: 2;
    background-color: #f2f1f1;
    padding: 0;
    margin: 0;
    opacity: 1;
    border-radius: 15px 15px 0 0;
    transform: translateX(-50%) translateY(-85%); /* Center the container relative to its own width */
    transform-origin: bottom;
    transition: height 0.5s ease;
}

#main-nav {
    position: relative;
    max-width: fit-content;
    color: rgb(81, 95, 110);
    display: flex;
    opacity: 0;
    transition: opacity 0.5s ease;
    white-space: nowrap;
}

#main-nav-container:hover #main-nav {
    opacity: 1; /* Show the menu items when hovering the container */
    pointer-events: auto;
}

#main-nav .navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: right;
    color: rgb(81, 95, 110);
    position: relative; /* Add this to enable absolute positioning of #main-nav */
}

#main-nav .nav-item {
    display: inline-block;
    align-items: center;
    color: rgb(81, 95, 110);
}

#main-nav .nav-link {
    display: inline;
    font-size: 1rem;
    color: rgb(81, 95, 110);
    padding: 0 1rem;
}

#main-nav a:hover {
    color: #fafafa;
    background-color: rgb(81, 95, 110);
    border-radius: 15px;
}

#main-nav-container:hover {
    height: 30px; /* Change the height on hover to show the full menu */
}

/* Canva Content -----------------------------------*/
.svg-container  {
    height: calc(100vh - 100px);
    padding: 15px;
    display: flex;
    justify-content: right;
    align-items: center;
    overflow-y: scroll;
    object-fit: contain;
    opacity: 0;
    transition: opacity 0.5s ease-in;
  }
  
  .svg-container.show {
    opacity: 1;
  }
  
  .svg  {
    margin: 5px;
    width: 40vw;
    height: 100%;
    border: 5px solid #6666664a;
    border-radius: 15px;
    overflow: hidden;
    object-fit: cover;
  }

  
/* Footer ---------------------------------------*/
footer {
    height: 50px;
    border-top: 5px solid #6666664a;
    background-color: rgb(81, 95, 110);
    box-sizing: content-box;
}

footer .list-inline {
    float: right;
    margin-top: 10px;
}

.social-links a {
    color: #fafafa;
    font-size: 1rem;
    padding: 5px 10px;
}

/* Form's styles ---------------------------------------*/
.form-group {
    padding: 5px;
    max-height: 250px;
    overflow-y: scroll;
}

.form-outline {
    background-color: none;
    margin: 10px 0;
    text-align: left;
}

input   {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #333;
    width: 100%;
    color: #333;
    text-align: right;
    font-family: "Josefin Slab", serif;
    font-weight: 400;
}

.form-button {
    background-color: transparent;
    font-family: "Saira", sans-serif;
    font-size: 1.5em;
    font-weight: bolder;
    color: #333;
    border: solid 2px #333;
    border-radius: 15px;
    width: 100%;
    display: inline-block;
    align-items: center;
    margin: 25px 0;
    padding: 15px;
}

.form-button:hover  {
    color: #f2f1f1;
    font-weight: bolder;
    border: solid 2px #52629be6;
    background-color: #d09a10;
}

.close  {
    background-color: transparent;
    border: none;
    color: #333;
}

.close:hover  {
    background-color: #f2f1f1;
    border: solid 2px #80808099;
    color: #333;
}



