<!doctype html>
<html lang="en">
{% load static %}
{% load i18n %}
<head>
    {% block meta %}
    <!-- Required meta tags -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Adela Valverde's web">
    <meta name="keywords" content="to, be, determined">
    <meta name="EL1909" content="el19091@gmail.com">
    {% endblock %}
    {% block core_css%}
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/compliance.css' %}" type="text/css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Saira:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Cropper -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
    <!-- Paypal SKD -->
    <script src="https://www.paypal.com/sdk/js?client-id=BAAmQKRDtf9lHg5HX5NQzBeqepZl-XRBcl94YSJs-uxFWR1CSzgHFouWtvnkt0Fh8DipUFenmwGM5VJZ_8&currency=USD" data-sdk-integration-source="button-factory"></script>
    {% endblock %}
    <title>Adela Valverde {% block extra_title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
</head>
<body>
    <header class="adela-header">
        <div class="header-container">
            <div class="logo-container">
                <a href="{% url 'bio' %}" class="logo">
                    ADELA <span class="gold-text">VALVERDE</span>
                </a>
            </div>
            <div class="nav-container">
                <nav id="nav-menu" class="nav-menu">
                    <ul class="nav-list">
                        <!-- <li class="nav-item">
                            <a href="{% url 'bio' %}" target="content-frame">Mi Camino</a>
                        </li> -->
                        <li class="cta-container dropdown">
                            <a href="{% url 'test_coherencia' %}" class="btn-vip">El Escaner</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="#" id="mi-obra" data-bs-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                El Umbral
                            </a>
                            <div class="dropdown-content" aria-labelledby="mi-obra">
                                {% for category in categories %}
                                {% if category.name != 'Sesiones' %}
                                <a href="{% url 'store:products' %}?category={{ category.name }}"
                                    class="dropdown-item {{ link_class }}">
                                    {{ category.display_name }}
                                </a>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="#" id="escuela-silencio" data-bs-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Escuela de Silencio
                            </a>
                            <div class="dropdown-content" aria-labelledby="escuela-silencio">
                                <a href="{% url 'escuela' %}" class="dropdown-item" target="content-frame">Ir a Escuela de Silencio</a>
                                {% for category in categories %}
                                    {% if category.name == 'Sesiones' %}
                                    <a href="{% url 'store:products' %}?category={{ category.name }}&filter=true" class="dropdown-item">{{ category.display_name }}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </li>
                        <div class="cta-container">
                            <a href="https://adelavalverde.info/store/products/5/" class="btn-vip">Mentoria VIP</a>
                        </div>  
                        <li class="nav-item dropdown">
                            {% if request.user.is_authenticated %}
                            <a href="#" data-bs-toggle="dropdown" id="user-options" aria-haspopup="true" aria-expanded="false">
                                <i class="fa-solid fa-bars"></i>
                            </a>
                            <div class="dropdown-content dropdown-menu-end" aria-labelledby="user-options">
                                {% if request.user.is_superuser %}
                                <a href="{% url 'store:invmgm' %}" class="dropdown-item">Deposito</a>
                                <a href="{% url 'calendars:admin_calendar' %}" class="dropdown-item">Calendario Admin</a>
                                {% endif %}
                                <!-- <a href="#" class="dropdown-item">Mi Perfil</a> -->
                                <a href="{% url 'store:user_orders' %}" class="dropdown-item">Mis Compras</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Salir</a>
                            </div>
                            {% else %}
                            <a href="#" id="loginModalLink" aria-haspopup="true"
                                aria-expanded="false">
                                <i class="fa-solid fa-bars"></i>
                            </a>
                            {% endif %}
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'store:cart_view' %}" class="cart-button">
                                <i class="fa-solid fa-cart-shopping"></i>
                                {% if cart_count > 0 %}
                                <span class="badge rounded-pill bg-danger" id="cart-total-count">{{ cart_count }}</span>
                                {% else %}
                                <span class="badge rounded-pill bg-danger d-none" id="cart-total-count">0</span>
                                {% endif %}
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <button id="mobile-menu-btn" class="mobile-menu-btn">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
    </header>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
            {{ message }}
            </li>
            {% endfor %}
    </ul>
    {% endif %}
    <main class="main">
        <div class="page-content-wrapper">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <!-- Footer -->
    <footer class="adela-footer">
        <div class="footer-container container d-flex justify-content-between align-items-center flex-wrap">
            <div class="footer-links">
                <a href="{% url 'privacy' %}" target="content-frame">Privacidad</a> | 
                <a href="{% url 'tyc' %}" target="content-frame">Términos</a> | 
                <a href="contact.html" target="content-frame">Contacto</a>
            </div>
            <div class="footer-social-icons">
                <a href="https://www.facebook.com/elsilencioestuguru" target="_blank" class="social-icon"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.instagram.com/adelavalverde/" target="_blank" class="social-icon"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.youtube.com/@AdelaValverde" target="_blank" class="social-icon"><i class="fa-brands fa-youtube"></i></a>
                <a href="https://www.tiktok.com/@elbiensilente?fbclid=IwY2xjawOH-3FleHRuA2FlbQIxMABicmlkETBxRDZxTmU1dnE3TWppTFozc3J0YwZhcHBfaWQQMjIyMDM5MTc4ODIwMDg5MghjYWxsc2l0ZQEyAAEeI0uQGBRB8momJnj7bhuSAmhvuotZf-shVIJL3jHerARCokH6zudLPqJuCN8_aem_S2l3AEjYukP86Ne1gNfKCg"
                    target="_blank" class="social-icon"><i class="fa-brands fa-tiktok"></i></a>
            </div>
        </div>
        <div class="footer-copyright container text-center">
            <a href="http://www.esfuerzovz.info" target="_blank">
                <p>&copy; 2025 Esfuerzo VZ. Todos los derechos reservados.</p>
            </a>
        </div>
    </footer>
    {% include 'users/loginModal.html' %}
    {% include 'cookie-banner.html' %}
    <!-- CSRF Token -->
    <script>window.csrfToken = "{{ csrf_token }}";</script>
    <!-- CookieBanner -->
    {% block core_js%}
    <!-- Include jQuery and jQuery UI Autocomplete -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/5c47144494.js" crossorigin="anonymous"></script>
    <!-- Local JS -->
    <script src="{% static 'js/modal.js' %}"></script>
    <script src="{% static 'js/store.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <!-- RunningText -->
    <link rel="stylesheet" href="{% static 'css/running_text.css' %}" type="text/css">
    <script src="{% static 'js/running_text.js' %}"></script>
    <!-- KeyMoments -->
    <!-- <link rel="stylesheet" href="{% static 'css/key_moments.css' %}" type="text/css">
    <script src="{% static 'js/key_moments.js' %}"></script> -->
    {% endblock %}
</body>
</html>