<div class="collapse navbar-collapse" id="main-nav">
    <nav id="mobile-menu">  
      <ul class="navbar-nav">
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Quien Soy</a>
      </li> -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="mi-obra" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mi Obra
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="mi-obra">
          <a href="{% url 'store:products' %}?category=Libros" class="dropdown-item">Libros</a>
          <!-- <a href="{% url 'store:products' %}?category=Seminarios" class="dropdown-item">Seminarios</a>
          <a href="#" class="dropdown-item">Podcast</a>
          <a href="{% url 'store:products' %}?category=Sesiones" class="dropdown-item">Sesiones Privadas</a> -->
        </div>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="apoya-mi-labor" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Apoya mi labor
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="apoya-mi-labor">
          <a href="{% url 'store:products' %}?category=meditar" class="dropdown-item">Articulos para meditar</a>
          <a href="#" class="dropdown-item">Ropa</a>
          <a href="{% url 'store:products' %}?sort=price&direction=desc" class="dropdown-item">Donaciones</a>
        </div>
      </li> -->
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="mi-equipo" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mi Equipo
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="mi-equipo">
          {% for member in teamlist %}
          <a href="#" class="dropdown-item">{{ member }}</a>
          {% endfor %}
        </div>
      </li> -->
      <!-- <li class="nav-item d-sm-none">
        <a class="nav-link" href="#" id="user-options" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div>
            <div><i class="fas fa-user fa-lg"></i></div>
          </div>
        </a>
        <div class="dropdown-menu" aria-labelledby="user-options">
          {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
              <a href="{% url 'store:add_product' %}" class="dropdown-item">Deposito</a>
            {% endif %}
            <a href="#" class="dropdown-item">Mi Perfil</a>
            <a href="{% url 'direct_logout' %}" class="dropdown-item">Salir</a>
          {% else %}
            <a href="{% url 'account_signup' %}" class="dropdown-item">Nuevo Usuario</a>
            <a href="{% url 'account_login' %}" class="dropdown-item">Iniciar Sesion</a>
          {% endif %}
        </div>
      </li> -->
      </ul>
    </nav>  
</div>